.premium {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('/pencil_curve.png'), url('/blue.svg');
  background-repeat: no-repeat;
  background-position: left bottom, auto auto;
  height: 28rem;
  padding: 4.4rem 0 0 0;
}

.heading4 {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subheading {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin: 1.9rem auto 3.4rem;
}

.primaryBtn {
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-align: center;
  letter-spacing: 0.2px;
  background-color: #ffffff;
  border-radius: 1.6rem;
  border: none;
  color: #7265E3;
  padding: 1.9rem 3.1rem 1.8rem;
}
