.playBtn {
  position: absolute;
  bottom: 1.5rem;
  left: 2.8rem;
  width: 85%;
  display: flex;
  padding: 1.8rem 3rem 1.8rem 2rem;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 10px 30px rgba(112, 136, 210, 0.1);
  border-radius: 1.6rem;
  font-family: 'Rubik';
}

.right {
  text-align: left;
  margin-left: 2rem;
}

.subTitle {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.8rem;
  letter-spacing: 0.2px;
  margin-bottom: 8px;
  color: #2D3142;
}

.duration {
  font-size: 1.4rem;
  line-height: 1.4rem;
  letter-spacing: 0.2px;
  color: #9C9EB9;
}
