.container {
  padding: 0 2.8rem 3.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  border-radius: 50%;
}

.heading2 {
  align-self: flex-start;
  margin: 1rem 0 1.2rem 0;
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 3.4rem;
  letter-spacing: -0.215385px;
  color: #2D3142;
}

.heading6 {
  align-self: flex-start;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #7265E3;
}

.author {
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.2px;
  color: #2D3142;
  align-self: center;
  margin-left: 1rem;
}

.authorText {
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: 0.2px;
  color: #4C5980;
  margin: 1.2rem auto 2rem;
}

.followBtn {
  display: flex;
  align-items: center;
  padding: 1.1rem 2rem;
  background: #E4DFFF;
  border: none;
  border-radius: 1.2rem;
  margin-left: 1.5rem;
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-align: center;
  letter-spacing: 0.2px;
  color: #7265E3;
}

.image {
  margin: 1.7rem auto 1.2rem;
}

.imageContainer {
  display: flex;
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1.7rem;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.7rem;
}


.offline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #F4F6FA;
  border-radius: 1.6rem;
  padding: 2rem 2.7rem 1.9rem 2.4rem;
}

.sessions {
  margin: 2.8rem 0 1.5rem;
  width: 100%;
}

.sessionsList {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.session {
  display: flex;
  padding: 1.6rem 0;
}

.sessionInfo {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

.rate {
  background-color: #E4DFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 3.2rem;
}

.switchLabel {
  display: block;
  width: 5.1rem;
  height: 3.2rem;
  background: #7FE3F0;
  border-radius: 10rem;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 20px #477a8550;
  overflow: hidden;
}

.switchLabel::after {
  content: "";
  position: absolute;
  width: 2.6rem;
  height: 2.6rem;
  background-color: #e8f5f7;
  border-radius: 7rem;
  top: 3px;
  left: 5px;
  transition: .5s;
}

.switchLabel:active, .switchLabel:focus {
  outline: none;
}

.sessionInfo {
  display: flex;
  justify-content: space-around;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.8rem;
  letter-spacing: 0.2px;
  color: #2D3142;
}

.sessionExtra {
  font-size: 1.4rem;
  line-height: 1.4rem;
  letter-spacing: 0.2px;
  color: #9C9EB9;
}

.average {
  display: flex;
  padding: 2.9rem 0 2rem;
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0.2px;
  color: #4C5980;
}

.numOfReviews {
  margin-left: 0.8rem;
}

.stars {
  margin-top: 1.8rem;
}

.rating {
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 3rem;
  color: #2D3142;
}

.comment {
  display: flex;
  align-items: flex-start;
  padding-top: 2.2rem;
  margin-top: 1.4rem;
  border-top: 1px solid rgba(0, 0, 0, 0.04);
}

.label {
  display: flex;
  padding: 0.9rem 1.2rem;
  background: #E4DFFF;
  border-radius: 1.2rem;
  margin-left: auto;
  height: 3.2rem;
}

.description {
  margin-left: 1.6rem;
}

.rateNumber {
  margin-left: 4px;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: center;
  letter-spacing: 0.2px;
  color: #7265E3;
}

.top {
  display: flex;
  margin-bottom: 1.4rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.iconBtn {
  border: none;
  padding: 0;
}

.sessionHeading {
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;
  color: #2D3142;
  margin: 0;
}
