.container {
  padding: 0 2.8rem 3.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  border-radius: 50%;
}

.heading2 {
  align-self: flex-start;
  margin: 1rem 0 1.2rem 0;
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 3.4rem;
  letter-spacing: -0.215385px;
  color: #2D3142;
}

.heading6 {
  align-self: flex-start;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #7265E3;
}

.sessions {
  margin: 2.8rem 0 1.5rem;
  width: 100%;
}

.sessionsList {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.average {
  display: flex;
  padding: 2.9rem 0 2rem;
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0.2px;
  color: #4C5980;
}

.numOfReviews {
  margin-left: 0.8rem;
}

.rating {
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 3rem;
  color: #2D3142;
}

.sessionHeading {
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;
  color: #2D3142;
  margin: 0;
}
