.grid {
  display: grid;
  grid-gap: 1.3rem 3.1rem;
  grid-template-columns: repeat(2, 15.3rem);
  grid-template-rows: repeat(auto-fill,minmax(16.2rem, max-content));
  align-items: center;
  grid-auto-flow: dense;
  width: 100%;
  margin: 0 auto 2.6rem;
}

.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading3 {
  font-weight: 500;
  font-size: 2rem;
  margin: 1.5rem 0 0;
  line-height: 3rem;
  color: #2D3142;
}

.heading6 {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #7265E3;
}

.title {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.2px;
  margin: 1.2rem auto 0.6rem;
  color: #2D3142;
}

.arrowBtn {
  margin-left: 1.8rem;
}
