
.heading2 {
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 3.6rem;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 4.9rem;
}

.container {
  position: relative;
  overflow: hidden;
}

.main {
  background: var(--primary-light);
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  padding: 5rem 0 0 0;
}

.main > * {
  z-index: 1;
}

.ring {
  position: relative;
  width: 22.3rem;
  height: 22.3rem;
  margin: 0 auto;
  z-index: 0;
}

.ring::after {
  content: "";
  display: inline-block;
  padding-top: 100%;
}
.ring::before {
  content:"";
  animation: spin infinite 3s;
  position: absolute;
  z-index: -1;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: linear-gradient(60deg,var(--primary-dark) 70%, #7FE3F0 0);
  padding: 12px;
  border-radius: 50%;
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.playerAction {
  position: absolute;
  left: 0;
  top: 0;
  height: 16.2rem;
  width: 16.2rem;
  border-radius: 10rem;
  border: none;
  transform: translate(19%, 18%);
}

.playBtn {
  position: absolute;
  bottom: 1.5rem;
  left: 2.8rem;
  width: 85%;
  display: flex;
  padding: 1.8rem 3rem 1.8rem 2rem;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 10px 30px rgba(112, 136, 210, 0.1);
  border-radius: 1.6rem;
  font-family: 'Rubik';
}

.right {
  text-align: left;
  margin-left: 2rem;
}

.time {
  margin: 1.6rem auto 0;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-align: center;
  letter-spacing: 0.2px;
  color: #F4F6FA;
}

.subTitle {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.8rem;
  letter-spacing: 0.2px;
  margin-bottom: 8px;
  color: #2D3142;
}

.bottomCircle {
  position: absolute;
  left: 9.6rem;
  bottom: 12rem;
  border-radius: 50%;
  background-color: #8276EE;
  width: 5.2rem;
  height: 5.2rem;
}

.topCircle {
  position: absolute;
  left: 50%;
  top: 0.6rem;
  border-radius: 50%;
  background-color: #8276EE;
  width: 5.2rem;
  height: 5.2rem;
}

.triangle {
  position: absolute;
  transform: rotate(
45deg);
  top: 3rem;
  left: -2rem;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 10rem;
  border-left-width: 10rem;
  border-bottom: 17rem solid #8276EE;
}

.shape {
  position: absolute;
  background-image: url('/shape.png');
  background-repeat: no-repeat;
  right: -2.5rem;
  bottom: 12rem;
  width: 22.8rem;
  height: 22.5rem;
}

.duration {
  font-size: 1.4rem;
  line-height: 1.4rem;
  letter-spacing: 0.2px;
  color: #9C9EB9;
}

@keyframes spin {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}
